<section>
    <h3 class="mb-5">Users</h3>

    <table class="table">
        <thead>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Cohort</th>
            <th>Action</th>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Fleur</td>
                <td>Sessionou</td>
                <td>fleur.sessionou&#64;meltwater.org</td>
                <td>2024</td>
                <td><a href="">Edit</a></td>
            </tr>
        </tbody>
    </table>
</section>