<div class="d-flex flex-column flex-shrink-0 py-5 bg-body-tertiary border-end border-2 border-black-subtle">
    <ul class="nav nav-pills flex-column mb-auto p-0">
      <li>
        <a [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Dashboard
        </a>
      </li>

      <li>
        <a [routerLink]="['/attendance']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none" width="16" height="16"><use xlink:href="#table"></use></svg>
          Attendance
        </a>
      </li>

      <li>
        <a [routerLink]="['/leave']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Leave
        </a>
      </li>

      <li>
        <a [routerLink]="['/analytics']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Analytics
        </a>
      </li>

      <li>
        <a [routerLink]="['/users']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Users
        </a>
      </li>
    </ul>
  </div>